@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ead8c7;
  color: #751133;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #e47a5c;
}

html {
  scroll-behavior: smooth;
}
